<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="container">
        <input type="range" name="0" class="square" value="0">
        <input type="range" name="1" class="square" value="0">
        <input type="range" name="2" class="square" value="0">
        <input type="range" name="3" class="square" value="0">
        <div class="result"></div>
    </div>

    <script src="../src/main.js"></script>
</body>
</html>